################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Prunus/v15
/Prunus/Debug
/Prunus/Release
/Prunus/x64/Debug
/Prunus/x64/Release
